$header-background-color: #333;
$header-lightmode-background-color: #bdb7b7;
$header-nav-color: #ccc;
$active-navlink-color: #daa520;

$white-color: #fff;

$confirm-btn-color: #2c8d1f;
$reset-btn-color: #b32626;
